$primary-color: #5e35b1;
$primary-color-hover: #47248d;
$secondary-color: #fb4b0d;
$bg-d: #272727;
$bg-l: #fff;
$text-d: #444;
$text-d-hover: #222;
$text-d-mute: #888;
$text-l: #f5f5f5;
$text-l-hover: #fff;
$border: 1px solid #ccc;
$border-radius: 10px;
$shadow: 0px 3px 1px #d5d5d5;
$gradient: linear-gradient(to right,
 #442780, #5e35b1, #442780);