* {
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  line-height: 1.5;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin-top: 0 !important;
}

ol, ul {
  list-style-type: none;
}

a {
  color: #444;
}

a:hover {
  color: #ffea00;
}

.material-icons {
  color: #444;
}

html {
  background: linear-gradient(to bottom, #E6DADA, #274046);
  height: 100vh;
}

body {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  background-color: #fff;
  box-shadow: 0px 7px #444;
  border-radius: 10px;
}

body .header-block {
  display: flex;
  border-radius: 10px 10px 0px 0px;
  min-height: 200px;
  justify-content: space-between;
  background-image: url("assets/images/montains.jpg");
  background-size: cover;
  background-position: bottom;
  margin-top: auto;
  align-items: flex-end;
  padding: 20px;
}

body .header-block * {
  color: #f5f5f5;
  font-size: 20px !important;
}

body .header-block .clear {
  cursor: pointer;
}

body .main-block {
  min-height: 300px;
}

body .main-block li {
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}

body .main-block li .item-done {
  margin-right: 10px;
  cursor: pointer;
}

body .main-block li .item-text {
  font-size: 16px;
}

body .main-block li .item-delete {
  margin-left: auto;
  cursor: pointer;
}

body footer {
  position: relative;
}

body .footer-block {
  padding: 20px;
  display: flex;
  background-color: #eee;
}

body .footer-block .add-task {
  font-size: 36px;
  margin-right: 20px;
  cursor: pointer;
}

body .footer-block input {
  border: none;
  padding: 5px 10px;
  background-color: transparent;
  border-bottom: 1px solid #aaa;
  width: 100%;
  font-size: 20px;
}

body .footer-block input:focus {
  border-bottom: 2px solid #999;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
    max-width: 100%;
    height: 100vh;
  }
  body .header-block {
    border-radius: 0px;
  }
  body footer {
    margin-top: auto;
  }
}
