$primary-color: #ffea00;
$primary-color-hover: #e7d400;
$secondary-color: #ff4d0d;
$bg-d: #272727;
$bg-l: #fff;
$text-d: #444;
$text-d-hover: #222;
$text-d-mute: #888;
$text-l: #f5f5f5;
$text-l-hover: #fff;
$border: 1px solid #ccc;
$border-radius: 10px;
$shadow: 0px 3px 1px #d5d5d5;