@import "_variable";
@import "_reboot";

.material-icons {
    color: $text-d;
}
html {
    background: linear-gradient(to bottom, #E6DADA, #274046);
    height: 100vh;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 50px auto;
    background-color: $bg-l;
    box-shadow: 0px 7px #444;
    border-radius: $border-radius;
    .header-block {
        display: flex;
        border-radius: 10px 10px 0px 0px;
        min-height: 200px;
        justify-content: space-between;
        background-image: url('assets/images/montains.jpg');
        background-size: cover;
        background-position: bottom;
        margin-top: auto;
        align-items: flex-end;
        padding: 20px;
        * {
            color: $text-l;
            font-size: 20px !important;
        }
    }
    .main-block {
        min-height: 300px;
        li {
            padding: 15px 20px;
            border-bottom: 1px solid#ddd;
            display: flex;
            align-items: center;
            .item-done {
                margin-right: 10px;
                cursor: pointer;
            }
            .item-text {
                font-size: 16px;
            }
            .item-delete {
                margin-left: auto;
                cursor: pointer;
            }
        }
    }
    .footer-block {
        padding: 20px;
        display: flex;
        background-color: #eee;
        .add-task {
            // color: $primary-color;
            font-size: 36px;
            margin-right: 20px;
            cursor: pointer;
        }
        input {
            border: none;
            padding: 5px 10px;
            background-color: transparent;
            border-bottom: 1px solid #aaa;
            width: 100%;
            font-size: 20px;
            &:focus {
                border-bottom: 2px solid #999;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        margin: 0;
        // min-height: 100vh;
        .header-block {
            border-radius: 0px;
        }
        footer {
            margin-top: auto;
        }
    }
}